* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    color: antiquewhite;
    border-style: groove;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;  /* Should be removed. Only for demonstration */
}

/* For ToDo Area*/
.todo {
    overflow-y: scroll;
    color: antiquewhite;
    float: left;
    width: 100%;
    padding: 10px;
    height: 330px;  /* Should be removed. Only for demonstration */
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div {
    border-radius: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}
body {
    background-color: rgb(255, 255, 255);
    background-image: url("bgimage.jpg");
    background-repeat: no-repeat;
    ba
}

div.task {
    border-radius: 10px;
    background: rgb(219, 221, 221);
    float: left;
    padding: 5px;
    height: 30px;
    border: 1px;
    height: 70px;
    width: 100%;
    border-style: solid;
    color: rgb(31, 1, 139);
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
}
div.task button {
    float: right;
    border-radius: 5px;
    background-color: rgb(238, 255, 0);

}

.incr {
    text-align: right;
    color: rgb(8, 255, 29);
}
.decr {
    text-align: right;
    color: red;
}

#header {
    border-radius: 25px;
    font-size: 150%;
    color: rgb(255, 0, 0);
    text-align: center;
    background: rgba(255, 255, 255,0.2);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#myBtn {

}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* For Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
} 